<%- include('partials/head') %>


<body>
	<!-- Page content -->
	<%- include('partials/nav') %>

	<main>
		<!-- Page header -->
		<section class="py-lg-6 py-4 bg-primary">
			<div class="container">
				<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-12">
					<div>
					<h1 class="text-white display-4 mb-0">Bienvenido</h1>
					</div>
				</div>
				</div>
			</div>
		</section>
		<!-- Content -->


		<section class="py-8">
			<div class="container">
			  <div class="row">
				<div class="col-xl-14 col-md-12 mb-6 mb-md-10">
				  <div class="row align-items-center mb-4">
					<div class="col">
					  
					</div>
				  </div>
		
				  <div class="row">
						<!-- power bi-->
					<h1>Registro de alertas</h1>
					<iframe width="800" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiNTYwYmUyN2EtZGY2MC00ZTRiLWI0ZGQtY2Q1YThkNGZlZWFlIiwidCI6ImFlNGYwMTU1LThjYTgtNDUwZC1hY2NiLTU2NmM1MDkyNjc0MSJ9"></iframe>
					

  	</main>
	<!-- Footer -->
	<!-- Footer -->
	<%- include('partials/footer') %>
  


  <!-- Scripts -->
  <%- include('partials/scripts') %>



</body>

</html>