<div class="container mt-5">
    <form id="formMigracion" class="p-4 shadow-sm bg-white rounded">
        <div class="row">

            <div class="col-md-6">
                <!-- Fecha -->
                <div class="form-group mb-4">
                    <label for="fecha" class="form-label fw-bold">Fecha</label>
                    <input type="date" class="form-control" id="fecha" required>
                </div>

                <!-- Comando conjunto -->
                <div class="form-group mb-4">
                    <label for="seleccionar-delito" class="form-label fw-bold"> Delito</label>
                    <select id="seleccionar-delito" name="seleccionar-delito" class="form-select" required>
                        <option value="">------------</option>
                        <option value="cc-norte">CC NORTE</option>
                        <option value="cc-sur">CC SUR</option>
                        <option value="cc-este">CC ESTE</option>
                        <option value="cc-metropolitano">CC METROPOLITANO</option>
                        <!-- Agrega más opciones de instituciones según sea necesario -->
                    </select>
                </div>

                <!--  region -->
                <div class="form-group mb-4">
                    <label for="seleccionar-region" class="form-label fw-bold"> region</label>
                    <select id="seleccionar-region" name="seleccionar-region" class="form-select" required>
                        <option value="">------------</option>
                        <option value="cc-norte">CC NORTE</option>
                        <option value="cc-sur">CC SUR</option>
                        <option value="cc-este">CC ESTE</option>
                        <option value="cc-metropolitano">CC METROPOLITANO</option>
                        <!-- Agrega más opciones de instituciones según sea necesario -->
                    </select>
                </div>

                <div class="form-group mb-4">
                    <label for="seleccionar-Nacionalidad" class="form-label fw-bold">Nacionalidad</label>
                    <select id="seleccionar-Nacionalidad" name="seleccionar-Nacionalidad" class="form-select" required>
                        <option value="">------------</option>
                        <option value="cc-norte">CC NORTE</option>
                        <option value="cc-sur">CC SUR</option>
                        <option value="cc-este">CC ESTE</option>
                        <option value="cc-metropolitano">CC METROPOLITANO</option>
                        <!-- Agrega más opciones de instituciones según sea necesario -->
                    </select>
                </div>

                <div class="form-group mb-4">
                    <label for="provinciadelito" class="form-label fw-bold">Provincia</label>
                    <select id="provinciadelito" name="provinciadelito" class="form-select" required>
                        <option value="">Seleccionar provincia</option>
                        <option value="buenos-aires">Buenos Aires</option>
                        <option value="cordoba">Córdoba</option>
                        <option value="santa-fe">Santa Fe</option>
                        <!-- Agrega más opciones de provincias según sea necesario -->
                    </select>
                </div>

                <div class="form-group mb-4">
                    <label for="seleccionar-TipoDecomiso" class="form-label fw-bold">Tipo Decomiso</label>
                    <select id="seleccionar-TipoDecomiso" name="seleccionar-TipoDecomiso" class="form-select" required>
                        <option value="">------------</option>
                        <option value="cc-norte">CC NORTE</option>
                        <option value="cc-sur">CC SUR</option>
                        <option value="cc-este">CC ESTE</option>
                        <option value="cc-metropolitano">CC METROPOLITANO</option>
                        <!-- Agrega más opciones de instituciones según sea necesario -->
                    </select>
                </div>

                
                
            </div>

            <div class="col-md-6">
                <!-- Provincia -->
                

                 <!--  region -->
                 <div class="form-group mb-4">
                    <label for="seleccionar-ComandoConjunto" class="form-label fw-bold"> Comando Conjunto</label>
                    <select id="seleccionar-ComandoConjunto" name="seleccionar-ComandoConjunto" class="form-select" required>
                        <option value="">------------</option>
                        <option value="cc-norte">CC NORTE</option>
                        <option value="cc-sur">CC SUR</option>
                        <option value="cc-este">CC ESTE</option>
                        <option value="cc-metropolitano">CC METROPOLITANO</option>
                        <!-- Agrega más opciones de instituciones según sea necesario -->
                    </select>
                </div>

                <div class="form-group mb-4">
                    <label for="seleccionar-FuenteInfo" class="form-label fw-bold">Fuente de Informacion</label>
                    <select id="seleccionar-FuenteInfo" name="seleccionar-FuenteInfo" class="form-select" required>
                        <option value="">------------</option>
                        <option value="cc-norte">CC NORTE</option>
                        <option value="cc-sur">CC SUR</option>
                        <option value="cc-este">CC ESTE</option>
                        <option value="cc-metropolitano">CC METROPOLITANO</option>
                        <!-- Agrega más opciones de instituciones según sea necesario -->
                    </select>
                </div>

                <!--  region -->
                <div class="form-group mb-4">
                    <label for="seleccionar-Institucionactuante" class="form-label fw-bold"> Institucion actuante</label>
                    <select id="seleccionar-Institucionactuante" name="seleccionar-Institucionactuante" class="form-select" required>
                        <option value="">------------</option>
                        <option value="cc-norte">CC NORTE</option>
                        <option value="cc-sur">CC SUR</option>
                        <option value="cc-este">CC ESTE</option>
                        <option value="cc-metropolitano">CC METROPOLITANO</option>
                        <!-- Agrega más opciones de instituciones según sea necesario -->
                    </select>
                </div>

                <div class="form-group mb-4">
                    <label for="seleccionar-TitularInformacion" class="form-label fw-bold"> Titular Fuente de la Informacion</label>
                    <select id="seleccionar-TitularInformacion" name="seleccionar-TitularInformacion" class="form-select" required>
                        <option value="">------------</option>
                        <option value="cc-norte">CC NORTE</option>
                        <option value="cc-sur">CC SUR</option>
                        <option value="cc-este">CC ESTE</option>
                        <option value="cc-metropolitano">CC METROPOLITANO</option>
                        <!-- Agrega más opciones de instituciones según sea necesario -->
                    </select>
                </div>

                <!-- Cantidad -->
                <div class="form-group mb-4">
                    <label for="cantidad" class="form-label fw-bold">Cantidad</label>
                    <input type="number" id="cantidad" name="cantidad" class="form-control" min="1" required>
                </div>
            </div>
        </div>
        
        <!-- Botón de enviar -->
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </div>
        </div>
    </form>
</div>